/* AtomGlide -- DK Stduio Product -- Author Dmitry Khorov ( git DKhorov tg @jpegweb */

body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #0D1116;
}
html{
    height: 100%;
}

.flex-container {
    pointer-events: all;
    display: flex;
    justify-content: space-between; /* Adjusts spacing between items */
    align-items: flex-start; /* Aligns items at the start of the container */
    gap: 20px; /* Adds space between the components */
  }

